body {
    font-family: 'sans-serif';
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
}

.questionContainer {
    margin-bottom: 3em;
}

.question {
    font-size: 18px;
}

.moodImageContainer {
    margin-top: 1em;
}

#description {
    text-align: center;
    font-style: italic;
}

#moodForm {
    text-align: center;
    border-style: dotted;
    border-color: powderblue;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#moodImage {
    width: 10%;
}
